<form [formGroup]="registrationForm" (ngSubmit)="postData(registrationForm)">
<input type="text" formControlName="firstName" />
<input type="submit" value="POst Data"> 
</form>
<!-- <p *ngFor="let item of userDate">
aa {{item.Name}}
</p> -->
<div class="ui-inputgroup">
    <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
    <input type="text" pInputText placeholder="name">         
</div>
<div class="ui-inputgroup">
    <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
    <input type="text" pInputText placeholder="ScientificName">         
</div>
<button (click)="inserIntoTable();">Save</button>
<div class="container">
<table>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Type</th>
      <th>Scientific Name</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <tr *ngFor="let item of userDate">
      <td>{{item.ID}}</td>
      <td>{{item.Name}}</td>
      <td>{{item.Type}}</td>
      <td>{{item.ScientificName}}</td>
      <td><a href="#">Edit</a></td>
      <td><a href="#">Delete</a></td>
    </tr>
    
  </table>
  </div>